canvas {
  border: black 5px solid;

}

body {
  background-color: #212427;
}

div{
 width: 100%;
 height: 100%;
 position: relative;
}

canvas{
 position: absolute;
 right: 0;
 left: 0;
 margin: auto;
}

.header {
  text-align: center;
  color: white;
}
