canvas {
  border: black 5px solid;

}

body {
  background-color: #1E90FF;
}

div{
 width: 100%;
 height: 100%;
 position: relative;
}


.header {
  text-align: center;
  color: white;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn3d {
    position: relative;
    top: -6px;
    border: 0;
    transition: all 40ms linear;
    margin-top: 8px;
    margin-bottom: 7px;
    margin-left: 3px;
    margin-right: 3px;
    width: 60px;
    height: 50px;
    font-size: 20px;
    border-radius: 8px;
}

.btn3d:hover{
  cursor: pointer;
}

.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
    -moz-outline-style: none;
    outline: medium none;
}

.btn3d:active,
.btn3d.active {
    top: 2px;
}

.btn3d.btn-default {
    color: white;
    box-shadow: 0 0 0 1px #404040 inset, 0 0 0 2px #404040 inset, 0 8px 0 0 #404040, 0 8px 8px 1px #404040;
    background-color:	#1E90FF;
}

.btn3d.btn-default:active,
.btn3d.btn-default.active {
    color: white;
    box-shadow: 0 0 0 1px #404040 inset, 0 0 0 1px #404040 inset, 0 1px 3px 1px #404040;
    background-color: 	gold;
}

div .padding {
  padding-top: 10px;
}
